<li id="todo-{{ todo.id }}" class="p-3 bg-indigo-50 rounded-lg border border-indigo-200">
    <form hx-put="/todos/{{ todo.id }}" hx-target="#todo-{{ todo.id }}" hx-swap="outerHTML"
          class="flex gap-2">
        <input type="text" name="title" value="{{ todo.title }}" autofocus
               class="flex-1 px-3 py-1 border rounded-lg focus:ring-2 focus:ring-indigo-500">
        <button type="submit" class="px-4 py-1 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700">Save</button>
        <button type="button" hx-get="/todos/{{ todo.id }}/toggle" hx-target="#todo-{{ todo.id }}" hx-swap="outerHTML"
                class="px-4 py-1 border rounded-lg hover:bg-gray-100"
                onclick="event.preventDefault(); htmx.ajax('PUT', '/todos/{{ todo.id }}/toggle', '#todo-{{ todo.id }}')">
            Cancel
        </button>
    </form>
</li>
