{% extends "base.html" %}
{% block title %}SweepTogether - Homepage{% endblock %}
{% block content %}

<h2 class="text-2xl">How it works?</h2>

<ol class="list list-decimal">
  <li class="list-row">People volunteer and organize events to clean streets, rivers, beaches, neighbourhods etc.. 📅</li>
  <li class="list-row">Other random people near them verify if streets are really clean or not and tell us 🕵️‍♂️</li>
  <li class="list-row">Streets are now clean ❓
    <ul class="list">
      <li  class="list-row">Everyone earns points and rank with the world 🏆</li>
      <li  class="list-row">The more rank you reach, the more prizes you earn later 🎁</li>
    </ul>
  </li>
  <ul class="list">
      <li class="list-row">Otherwise people lose points 🙁</li>
      <li class="list-row">The more points you lose the less trust you will have in the platform 😑</li>
      <li class="list-row">If you always scam or do it unfair then you will be banned from the platform 🚫</li>
    </ul>
</ol>

<p class="italic">Volunteering is not an obligation. You can choose an event that suits you. If you feel uncomfortable with the event organizer, you are free to stay away from the event for your own safety and peace of mind. ✅🛡️</p>
{% endblock %}
